
<body>
  
  <div class="container">
    <h2>Adicionar novo Contato</h2>
    <form (submit)="addContact()">

      <div>
        <label for="name">Nome:</label>
        <input type="text" id="name" name="name" [(ngModel)]="contact.name" required placeholder="Digite o nome do contato">
      </div>

      <br>

      <div>
        <label for="phone">Telefone:</label>
        <input type="text" id="phone"  name="phone" [(ngModel)]="contact.phone" required placeholder="Digite o telefone.. ex : 997374212">
      </div>

      <br>
      <button type="submit">Adicionar</button>
    </form>
  
  </div>
</body>
