
* {
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: #FFF2E1;
    width: 100%;
    min-height: 100vh;
    height: auto;
}

.container {
    background-color: #D1BB9E;
    border-radius: 18px;
    height: 50%;
    width: 30%;
    justify-content: center;
    align-items: center;
    box-shadow: 38px 38px 10px #797777 ;
}







h2 {
    text-align: center;
    color: white;
    background-color: #A79277;
    padding: 30px;
    margin: 0;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: bold;

}

form {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

form div {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

input {
    padding: 15px;
    border-radius: 8px;
    border: none;
}






label {
    color: #FFF2E1;
    text-transform: uppercase;
}

.mensagem__erro {
    color: red;
    text-align: center;
    font-weight: bold;
    margin: 10px;

}



.botao {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    background-color: #A79277;
    padding: 15px;
    border-radius: 8px;
    border: none;
    align-self: center;
    color: white;
    font-weight: bold;
    cursor: pointer;
    width: 25%;

}

.botao__desabilitado{
    background-color: #5f5f5f;
    color: white;
    font-weight: bold;
    cursor: not-allowed;
    transition: .3s;
    border: none;
    margin-top: 10px;
    width: 25%;
    align-self: center;
    height: 50px;
    border-radius: 8px;

}



.topo{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.topo a img {
    width: 60px;
    transition: .3s;
    border-radius: 50%;

}



.topo a img:hover {
    transform: scale(1.1);
    background-color: #FFF2E1;
    border-radius: 50%;
    
}



a {
    cursor: pointer;
}

.topo h2 {
    font-size: 1.5rem;
    align-items: center;
}

.topo h2 img {
    width: 100px;
}

.topo  {
    background-color: #A79277;
    color: white;
    padding: 10px;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: bold;
}

ul{
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}


li {
    display: flex;
    align-items: center;
    list-style: none;
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .container {
        width: 90%;
        font-size: 12px;
        margin: 25% 0 25% 0;
    }

    ul {
        width: 80%;
        
        
    }

    li {
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }

    li span {
        align-self: center;
        text-align: start;
    }
    
}

