<body>
  <div class="container">
    <div class="topo">
      <h2>Contatos</h2>
      <a routerLink="/add-contact"><img src="../../assets/imagens/plus.png" alt=""></a>
    </div>
    <ul *ngIf="contacts.length > 0, else semContatos">
      <li *ngFor="let contact of contacts">
        Nome
        <span for="">{{ contact.nome }}</span>
        Telefone
        <span for=""> {{ contact.contato }}</span>

        <div class="acoes">
            <a (click)="deleteContact(contact.id)"><img src="../../assets/imagens/icone-excluir.png" alt=""></a>
            <a routerLink="/edit-contact/{{ contact.id }}"><img src="../../assets/imagens/icone-editar.png" alt=""></a>
        </div>

      </li>
    </ul>
  </div>
</body>

<ng-template #semContatos>
  <div class="vazio"><p>SEM CONTATOS CADASTRADOS</p> <img src="../../assets/imagens/vazio.png" alt=""></div>
</ng-template>
