
* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: #FFF2E1;
    width: 100%;
    min-height: 100vh;
    height: auto;
}



.container {
    
    background-color: #D1BB9E;
    border-radius: 18px;
    height: auto;
    width: 50%;
    justify-content: center;
    align-items: center;
    box-shadow: 38px 38px 10px #797777 ;
    
}

.vazio{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    color: #A79277;
    font-size: 1.2rem;
    
    text-transform: uppercase;
    font-weight: bold;
    background-color: #EAD8C0;
    gap: 30px;
    
    
}



.topo{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.topo a img {
    width: 60px;
    transition: .3s;
    border-radius: 50%;

}

.topo a img:hover {
    transform: scale(1.1);
    background-color: #FFF2E1;
    border-radius: 50%;
    
}

a {
    cursor: pointer;
}

.topo h2 {
    font-size: 1.5rem;
    align-items: center;
}

.topo h2 img {
    width: 100px;
}

.filtro {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px;

}

.filtro input {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #A79277;
    margin: 10px;
    width: 80%;

}

.filtro button {
    padding: 10px;
    border-radius: 8px;
    background-color: #A79277;
    color: white;
    border: 1px solid white;
    margin: 10px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    transition: 0.3s;
}

.filtro button:hover {
    background-color: #FFF2E1;
    color: #000000;
    border: 1px solid #A79277;
}





.topo  {
    background-color: #A79277;
    color: white;
    padding: 10px;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: bold;
}

ul{
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
}
span {
    font-weight: bold;
    background-color: #FFF2E1;
    min-width: 200px;
    text-align: center;
    align-self: center;
    padding: 10px;
    border-radius: 8px;
}

li {
    display: flex;
    align-items: center;
    list-style: none;
    border: 1px solid rgb(90, 80, 33);
    gap: 10px;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    width: 80%;
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
}

.acoes {
    display: flex;
    gap: 10px;
}

@media screen and (max-width: 768px) {
    .container {
        width: 80%;
        font-size: 12px;
        margin: 25% 0 25% 0;
    }

    ul {
        width: 90%;
        display: flex;
        
        
        
    }

    li {
        align-items: center;
        flex-direction: column;
        
        gap: 10px;
        max-width: 100%;
    }

    li span {
        align-self: center;
        text-align: start;
    }
    
}

/* media querie para notebook */

@media screen and (min-width:1024px)and ( max-width: 1368px) {
    .container {
        width: 75%;
        font-size: 12px;
        margin: 25% 0 25% 0;
    }

    ul {
        width: 90%;
        align-self: center;
        
        
    }

    li {
        align-items: center;
        min-width: 100%;
        gap: 10px;
    }

    li span {
        align-self: center;
        text-align: start;
    }
    
}

